body {
  padding: 0px;
  font-family: 'Helvetica','Arial', sans-serif;
  font-size: 12px;
  text-align: center;
  background: #f0f0f0;
}

.container {
  width: 940px;
  background: #fff;
  margin: 0px auto;
  text-align: left;
  padding: 10px 30px 30px;
  clear: both;
}

#info {
  padding-bottom: 10px;
}

table {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
}

th {
  background: #fafafa;
}

td, th {
  padding: 15px;
}

td {
  text-align: right;
}

#bar td {
  text-align: center;
}

#bar td span {
  padding: 5px;
  overflow: visible;
}




h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  font-size: 3em;
  text-shadow: 1px 2px 2px #aaa;
}

p.right {
  float: right;
  color: #999;
  padding-top: 5px;
}

p.right a {
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

h2 {
  margin: 30px 0 20px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  font-size: 2em;
}

h2 small {
  color: #999;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-left: 10px;
  display:inline-block;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1.2em;
}

a, a:visited {
  color: #0069D6;
  text-decoration: none;
}

a:hover, p.right a:hover {
  text-decoration: underline;
}