body {
  padding: 0px;
  font-family: 'Helvetica','Arial', sans-serif;
  font-size: 12px;
  text-align: center;
  background: #f0f0f0;
  margin: 0;
}

.container {
  width: 940px;
  background: #fff;
  margin: 0px auto;
  text-align: left;
  padding: 10px 30px 30px;
  clear: both;
}

table {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
}

th {
  background: #fafafa;
}

td, th {
  padding: 15px;
}

td {
  text-align: right;
}

#bar td {
  text-align: center;
}




h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 1px 2px 2px #aaa;
}

section {

  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

h2 {
  margin: 10px 0 20px;
  font-size: 2em;
}

h2 small {
  color: #999;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-left: 10px;
  display:inline-block;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1.2em;
}

a {
  
}

a, a:visited {
  color: #0069D6;
}

.code {
  cursor: pointer;
  float: right;
  margin-top: 12px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.code:after {
  content: "";
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  display: inline-block;
  height: 0px;
  width: 0px;
  margin: 5px 0px 0px 5px;
  float: right;
}

p.right {
  float: right;
  color: #999;
  line-height: 30px;
  padding-top: 0px;
  margin-top: 0px;
}

p.right a {
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

.code.showing:after{
    border-bottom-color: #000;
    border-top-color: transparent;
    margin: 0px 0px 0px 5px;
}

.code:hover {
  background: #eee;
  border-color: #ccc;
}

pre {
  background: #ffe;
  padding: 10px 20px;
  border: 1px solid #cca;
  border-radius: 5px;
  display: none;
  font-size: 1.2em;
}
